<?xml version="1.0"?>
<launch>
    <!-- Load the URDF into the ROS Parameter Server -->
    <!-- <arg name="robot_name" default="lwr"/> -->
    <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find single_lwr_robot)/robot/single_lwr_robot.urdf.xacro' robot_name:=$(arg robot_name)" />
    <param name="robot_description_semantic" textfile="$(find stack_of_passive_controllers_controller)/config/lwr.srdf" /> -->
    <param name="robot_description" textfile="$(find kuka_lwr4_description)/urdf/lwr.urdf" />
    <param name="robot_description_semantic" textfile="$(find kuka_lwr4_description)/srdf/lwr.srdf" />
</launch>
